body {
  margin-top: $top-menu-width;
  background: $color-main-background;
  font-size: 1rem;
}

#main-container {
  position: relative;
  height: 100vh;
}

#main-page {
  position: relative;
  height: 100vh;
  margin-top: -$top-menu-width;
  background: url($background-photo-url) bottom center/cover no-repeat;
}

#access-denied {
  height: 100vh;
}

#page-content {
  z-index: 2;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-shadow-dark;
  z-index: 1;
}

h1 {
  font-size: 5em;
  font-weight: 700;
}

hr {
  width: 400px;
  border-top: 1px solid $color-shadow-light;
  border-bottom: 1px solid $color-shadow-dark;
}

// icon sizes
@for $i from 1 through $largest-icon-size {
  .icon-size-#{$i} {
    font-size: #{$i}px;
  }
}
