// COLOR VARIABLES
$color-main-background: #f7f8f8;
$color-shadow-dark: rgba(0, 0, 0, 0.2);
$color-shadow-light: #f8f8f8;

// WIDTHS
$top-menu-width: 50px;

$background-photo-url: "../images/welcomePage.jpg";
